<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<!-- IF S_EDIT_WORD -->

<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

<h1>{L_ACP_RSSREADER_TITLE}</h1>

<p>{L_ACP_RSSREADER_EXPLAIN}</p>

<form id="athc_rssreader_settings" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{L_EDIT_WIDGET}</legend>
		<dl>
			<dt><label for="url">{L_URL_TITLE}</label></dt>
			<dd><input type="text" id="url" name="url" value="{URL}" /></dd>
		</dl>
		<dl>
			<dt><label for="label">{L_LABEL_TITLE}</label></dt>
			<dd><input type="text" id="label" name="label" value="{LABEL}" /></dd>
		</dl>
		<dl>
			<dt><label for="num">{L_NUM_TITLE}</label></dt>
			<dd><input type="number" id="num" name="num" value="{NUM}" /></dd>
		</dl>
		<dl>
			<dt><label for="active">{L_ACTIVE_TITLE}</label></dt>
			<dd><input type="checkbox" id="active" name="active" <!-- IF ACTIVE -->checked="checked"<!-- ENDIF --> /></dd>
		</dl>
		{S_HIDDEN_FIELDS}

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="save" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
			{S_FORM_TOKEN}
		</p>
	</fieldset>
</form>

<!-- ELSE -->

<h1>{L_ACP_RSSREADER_TITLE}</h1>

<p>{L_ACP_RSSREADER_EXPLAIN}</p>

<form id="athc_rssreader_settings" method="post" action="{U_ACTION}">

	<fieldset class="tabulated">
		<legend>{L_ACP_RSSREADER_WIDGETS}</legend>
		<p class="quick">
			{S_HIDDEN_FIELDS}
			<input class="button2" name="add" type="submit" value="{L_ADD_WIDGET}" />
		</p>

		<table class="table1 zebra-table">
			<thead>
			<tr>
				<th>{L_URL_TITLE}</th>
				<th>{L_LABEL_TITLE}</th>
				<th>{L_NUM_TITLE}</th>
				<th>{L_ACTIVE_TITLE}</th>
				<th>{L_ACTION}</th>
			</tr>
			</thead>
			<tbody>
			<!-- BEGIN widgets -->
			<tr>
				<td>{widgets.URL}</td>
				<td>{widgets.LABEL}</td>
				<td>{widgets.NUM}</td>
				<td><!-- IF widgets.ACTIVE -->true<!-- ELSE -->false<!-- ENDIF --></td>
				<td>&nbsp;<a href="{widgets.U_EDIT}">{ICON_EDIT}</a>&nbsp;&nbsp;<a href="{widgets.U_DELETE}" data-ajax="row_delete">{ICON_DELETE}</a>&nbsp;</td>
			</tr>
			<!-- BEGINELSE -->
			<tr class="row4">
				<td colspan="4">{L_ACP_NO_ITEMS}</td>
			</tr>
			<!-- END widgets -->
			</tbody>
		</table>
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
