.rss-block {
	margin: 1rem;
}
.rss-label {
	margin: 0.5rem;
}
.rss-block li {
	list-style: none;
	margin: 0.5rem;
}
.rss-block .rss-item {
	font-size: 0.8rem;
}
a.rss-item dt {
	float: left;
	padding-right: 1rem;
	color: #7f8cb1;
}
.latest-market-news {
	color: #0059b3;
	background: #f5f5f5;
	padding: 1rem;
}