<!-- IF RSS_FEEDS -->
<div class="rss-widget-container">
	<h2 class="latest-market-news">Latest Market News</h2>
	<!-- BEGIN rss -->
	<div class="rss-block">
		<h3 class="rss-label">{rss.label}</h3>
		<ul class="rss-block">
			<!-- BEGIN items -->
			<li><a href="{rss.items.url}" target="_blank" class="rss-item"><dt>{rss.items.date}</dt> {rss.items.title}</a></li>
			<!-- END items -->
		</ul>
	</div>
	<!-- END rss -->
</div>
<!-- ENDIF -->
